<template>
    <div id="modal">
        <!-- Modal Component -->
        <b-modal v-model="userState.state.edit_user" title="Bootstrap-Vue" hide-footer>
            <div class="row">
                <div class="col-md-12">
                    <Label>Student Name </Label>
                    <input type="text" class="form-control form-control-sm" v-model="studentCtrl.store.item.name"/>
                </div>
                <div class="col-md-12">
                    <Label>Student Description </Label>
                    <input type="text" class="form-control form-control-sm" v-model="studentCtrl.store.item.sex"/>
                </div>
                <div class="col-md-12">
                    <br/>
                    <button class="btn btn-success btn-sm" @click="updateStudent()">Update</button>
                </div>
            </div>
        </b-modal>
    </div>
</template>

<script>
import State from "@/controller/State"
import Student from "@/controller/Student"

export default {
    name: "edit-modal",
    data() {
        return {
            userCtrl: [],
            userState: {
                state: {}
            },
            message: '',
            studentCtrl: {}    
        }
    },
    created() {
        this.userState = State
        this.studentCtrl = new Student()
    },
    methods: {
        updateStudent () {
            const student = this.studentCtrl.store.item
            this.studentCtrl.updateById(student._id, student)
        }
    },
};
</script>
