<template>
    <div class="home">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Name</th>
                    <th scope="col">Description</th>
                    <th scope="col"><button class="btn btn-success btn-sm" @click="showDailog()">Create</button></th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="(student, index) in studentCtrl.store.dataList" :key="index">
                    <th scope="row">{{ index + 1 }}</th>
                    <td>{{ student.name }}</td>
                    <td>{{ student.sex }}</td>
                    <td><button class="btn btn-danger btn-sm" @click="deleteById(student._id)">Delete</button> || <button class="btn btn-danger btn-sm" @click="getStudentById(student._id)">Edit</button></td>
                </tr>
            </tbody>
        </table>
        <div class="row py-3">
            <div class="col-md-12">
                {{ userState.state.message }}
            </div>
        </div>
        <my-modal></my-modal>
        <edit-modal></edit-modal>
    </div>
</template>

<script>
import MyModal from './MyModal'
import EditModal from './EditModal'
import User from "@/controller/User"
import Student from "@/controller/Student"
import State from "@/controller/State"

export default {
    components: {
        MyModal,
        EditModal
    },
    data() {
        return {
            isShow: false,
            stateCtrl: {},
            userState: {
                state: {}
            },
            province: [],
            userCtrl: { store: {} },
            studentCtrl: { store: {} }
        };
    },
    mounted() {
        // console.log(window.state)
        this.userCtrl = new User()
        this.userCtrl.getAll()
        this.studentCtrl = new Student()
        this.studentCtrl.getAll()
        this.userState = State
    },
    methods: {
        showDailog () {
            this.userState.state.show_user = true
        },
        deleteById (id) {
            this.studentCtrl.deleteById(id)
        },
        getStudentById (id) {
            this.userState.state.edit_user = true
            this.studentCtrl.getById(id)
        }
    },
};
</script>

<style>
</style>
