<template>
    <div class="login-form">
        <div class="login">
            <h2 class="text-center">Log in</h2>
            <div class="form-group">
                <input type="email" v-model="credential.email" v class="form-control" placeholder="Email" required="required">
            </div>
            <div class="form-group">
                <input
                    type="password"
                    class="form-control"
                    placeholder="Password"
                    required="required"
                    v-model="credential.password"
                >
            </div>
            <div class="form-group">
                <button type="button" class="btn btn-primary btn-block" @click="auth">Log in</button>
            </div>
        </div>
    </div>
</template>

<script>
import User from '@/controller/User'

export default {
    name: 'Login',
    data () {
        return {
            credential: {}
        }
    },
    created () {
        
    },
    methods: {
        auth () {
            const user = new User()

            user.auth(this.credential, ()=> {
                this.$router.push({ path: '/'})
            })
        }
    }
}
</script>

<style scoped>
.login-form {
    width: 340px;
    margin: 50px auto;
}
.login-form form {
    margin-bottom: 15px;
    background: #f7f7f7;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    padding: 30px;
}
.login-form h2 {
    margin: 0 0 15px;
}
.form-control,
.btn {
    min-height: 38px;
    border-radius: 2px;
}
.btn {
    font-size: 15px;
    font-weight: bold;
}
</style>
