<template>
    <div id="modal">
        <!-- Modal Component -->
        <b-modal v-model="userState.state.show_user" title="Bootstrap-Vue" hide-footer>
            <div class="row">
                <div class="col-md-12">
                    <Label>Student Name </Label>
                    <input type="text" class="form-control form-control-sm" v-model="student.name"/>
                </div>
                <div class="col-md-12">
                    <Label>Student Description </Label>
                    <input type="text" class="form-control form-control-sm" v-model="student.sex"/>
                </div>
                <div class="col-md-12">
                    <Label>Student Description </Label>
                    <select>
                        <option>Test</option>
                    </select>
                </div>
                <div class="col-md-12">
                    <br/>
                    <button class="btn btn-success btn-sm" @click="createStudent">Create</button>
                </div>
            </div>
        </b-modal>
    </div>
</template>

<script>
import State from "@/controller/State"
import Student from "@/controller/Student"

export default {
    name: "my-modal",
    data() {
        return {
            userCtrl: [],
            userState: {
                state: {}
            },
            message: '',
            student: {
                name: '',
                sex: '',
                dob: ''
            },
            studentCtrl: {}    
        }
    },
    created() {
        this.userState = State
        this.studentCtrl = new Student()
        // this.userCtrl = new User()
    },
    methods: {
        createStudent () {
            // this.userState.state.message = 'Hello world'
            this.studentCtrl.create(this.student)
            // console.log(this.student)
        }
    },
};
</script>

<style>
</style>
