<template>
    <div class="Product">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">First</th>
                    <th scope="col">Last</th>
                    <th scope="col">Handle</th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="(user, index) in userCtrl.store.dataList" :key="index">
                    <th scope="row">3</th>
                    <td>Larry</td>
                    <td>the Bird</td>
                    <td>@twitter</td>
                </tr>
            </tbody>
        </table>
    </div>
</template>

<script>
import User from "@/controller/User"

export default {
    data () {
        return {
            userCtrl: {},
            pState: {}
        }
    },
    created () {
        this.userCtrl = new User()
        this.userCtrl.getAll()
    },
}
</script>

<style>

</style>
