<template>
    <div id="app">
        <div class="container" v-if="!$route.meta.public">
            <ul class="nav justify-content-center">
                <li class="nav-item">
                    <router-link to="/" class="nav-link active" tag="a">
                       Home
                    </router-link>
                </li>
                <li class="nav-item">
                    <router-link to="/product" class="nav-link" tag="a">
                       Product
                    </router-link>
                </li>
            </ul>
            <router-view/>
        </div>
        <template v-else>
            <router-view/>
        </template>
    </div>
</template>

<script>
// import State from '@/controller/State'

export default {
    name: "app",
    created() {
        //  console.log(this.$store)
        window.main = this
    }
};
</script>

